<html>
<head>
    <link href="/Sam/docs/fafont/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<hr>

<p><a href=""><i class="fa fa-arrow-up"></i></a>
    <a href="https://www.instagram.com/mica.ninni/"><i class="fa fa-instagram"></i></a> 
    <a href="http://researchgate.net/profile/maria_ninni"><i class="fa fa-graduation-cap"></i></a>
    <a href="https://scholar.google.com/citations?user=8r6mYIIAAAAJ&hl=en&oi=srai"><i class="fa fa-google"></i></a> 
    <a href="http://linkedin.com/in/mninni"><i class="fa fa-linkedin-square"></i></a></p>
<a href="/ninni/updates">Update 01.21</a> - {{ .Site.Params.footerText | markdownify }}<br><br>

