<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Mukta' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Syne+Mono' rel='stylesheet'>

    <style>
    table {
      font-family: 'Mukta', sans-serif;
      border-collapse: collapse;
      margin: 0.5rem 0;
        width: 85%;
        max-width: 64em;
        

    }

    </style>
    </head>
    <body>

<hr class="topnav">   
<table>
    <tr>
      <th class="topnavname"><a href="/">Maria Micaela Ninni</a></th>
      <th class="topnavhome"><a href="/hello">hello!</a> • <a href="/cv">vitae</a> • <a href="/research">research</a> • <a href="/posts">posts • <a href="/contact">contact</a></th>
    </tr>
</table><hr>

</html>